<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제품등록 샘플 페이지</title>
</head>
<body>
제품등록 샘플 페이지
<hr />
<form name="addProduct" method="post" action="/product/register" enctype="multipart/form-data">
    제품명: <input type="text" name="product_name"> <br />
    단가: <input type="number" name="product_price"> <br />
    규격: <input type="text" name="product_stand"> <br />
    재질: <input type="text" name="product_texture"> <br />
    도면: <input type="file" name="product_draw_file"> <br />
    기타문서: <input type="file" name="product_etc_file"> <br />
    <input type="submit" value="등록하기">
</form>
</body>
</html>
