<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>제품 목록</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <th:block th:replace="~{/fragments/headFragment}"></th:block>
</head>

<body>

<th:block th:replace="~{/fragments/bodyFragment::header}"></th:block>
<th:block th:replace="~{/fragments/bodyFragment::sidebar}"></th:block>

<!-- ======= main ======= -->
<main id="main" class="main">
    <div class="pagetitle">
        <h1>제품 목록</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">메인</a></li>
                <li class="breadcrumb-item">발주계획</li>
                <li class="breadcrumb-item">제품</li>
                <li class="breadcrumb-item active">제품목록</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <!--★★★★★★★★★★카드내용★★★★★★★★★★★★-->
            <!--여기에 카드랑 내용 넣어주시면 됩니다..-->

            <div class="col-lg-12">
                <table border="1" hidden="hidden">
                    <thead>
                    <tr>
                        <th>제품 코드</th>
                        <th>제품명</th>
                        <th>가격</th>
                        <th>규격</th>
                        <th>재질</th>
                        <th>도면</th>
                        <th>기타문서</th>
                        <th>등록일</th>
                        <th>수정일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Thymeleaf 반복 구문 -->
                    <tr th:each="product : ${products}">
                        <td th:text="${product.productCode}"></td>
                        <td th:text="${product.productName}"></td>
                        <td th:text="${product.productPrice}"></td>
                        <td th:text="${product.productStand}"></td>
                        <td th:text="${product.productTexture}"></td>
                        <td th:text="${product.productDrawFile}"></td>
                        <td th:text="${product.productEtcFile}"></td>
                        <td th:text="${product.productRegDate}"></td>
                        <td th:text="${product.productModDate}"></td>
                    </tr>
                    </tbody>
                </table>


                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">제품리스트</h5>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <b>보기 | 구분 : 전체 | bom등록여부 : 전체 | 등록일 : 전체  </b>
                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                        <b>검색 | 전체 : -</b>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="row mb-3">



                                            <label for="inputPassword" class="col-sm-1 col-form-label">구분</label>
                                            <div class="col-sm-2">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected>전체</option>
                                                    <option value="1">제품</option>
                                                    <option value="2">유닛</option>
                                                    <option value="3">자재</option>
                                                    <option value="4">제품+유닛</option>
                                                    <option value="5">유닛+자재</option>
                                                </select>
                                            </div>

                                            <label for="inputPassword" class="col-sm-1 col-form-label">bom등록여부</label>
                                            <div class="col-sm-2">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected>전체</option>
                                                    <option value="1">O</option>
                                                    <option value="2">X</option>
                                                    <option value="3">△</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mb-3">

                                            <label for="inputPassword" class="col-sm-1 col-form-label">등록일</label>
                                            <div class="col-sm-2">
                                                <input type="date" class="form-control" value="0">
                                            </div>
                                            ~
                                            <div class="col-sm-2">
                                                <input type="date" class="form-control" value="0">
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row mb-3">
                                            <label for="inputPassword" class="col-sm-1 col-form-label">검색</label>
                                            <div class="col-sm-2">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected>전체</option>
                                                    <option value="1">품목명</option>
                                                    <option value="2">품목코드</option>
                                                    <option value="3">규격+재질</option>

                                                </select>
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="input-group mb-3">

                                                    <input type="text" class="form-control" id="itemCodeInput">
                                                    <button class="input-group-text" id="confirmSelectionBtn">검색</button>
                                                </div>
                                            </div>

                                        </div>


                                    </div>


                                </div>

                            </div>



                        </div><!-- End Default Accordion Example -->
                        <p></p>
                        <a href="/product/productregister"><button type="button" class="btn btn-primary btn-sm">제품등록</button></a>
                        <a href="자재등록처리.html"><button type="button" class="btn btn-primary btn-sm">자재등록</button></a>
                        <p></p>
                        <!-- Table with hoverable rows -->
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">구분</th>
                                <th scope="col">제품명</th>
                                <th scope="col">제품코드</th>
                                <th scope="col">규격</th>
                                <th scope="col">재질</th>
                                <th scope="col">bom등록여부</th>
                                <th scope="col">등록일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- Thymeleaf 반복 구문 -->
                            <tr th:each="product : ${products}">
                                <th scope="row">-</th>
                                <td>제품</td>
                                <td th:text="${product.productName}"><a href="제품상세보기.html"></a></td>
                                <td th:text="${product.productCode}"></td>
                                <td th:text="${product.productStand}"></td>
                                <td th:text="${product.productTexture}"></td>
                                <td>O</td>
                                <td>[[${#temporals.format(product.productRegDate, 'yyyy/MM/dd')}]]</td>
                            </tr>
                            <tr hidden="hidden">
                                <th scope="row">1</th>
                                <td>제품</td>
                                <td><a href="제품상세보기.html">볼펜MG 0.5</a></td>
                                <td>검정 0.5mm</td>
                                <td>금속/Gold</td>
                                <td>O</td>
                                <td>2023-05-02</td>
                            </tr>
                            <tr hidden="hidden">
                                <th scope="row">2</th>
                                <td>제품</td>
                                <td><a href="제품상세보기.html">볼펜MG 0.7</a></td>
                                <td>파랑 0.7mm</td>
                                <td>금속/Gold</td>
                                <td>O</td>
                                <td>2023-05-02</td>
                            </tr>
                            <tr hidden="hidden">
                                <th scope="row">3</th>
                                <td>제품</td>
                                <td><a href="제품상세보기.html">볼펜MG 1.0</a></td>
                                <td>빨강 1.0mm</td>
                                <td>금속/Gold</td>
                                <td>O</td>
                                <td>2023-05-02</td>
                            </tr>
                            <tr hidden="hidden">
                                <th scope="row">4</th>
                                <td>제품</td>
                                <td><a href="제품상세보기.html">볼펜MS 0.5</a></td>
                                <td>검정 0.5mm</td>
                                <td>금속/Silver</td>
                                <td>O</td>
                                <td>2023-07-01</td>
                            </tr>
                            <tr hidden="hidden">
                                <th scope="row">5</th>
                                <td>제품</td>
                                <td><a href="제품상세보기.html">볼펜MS 0.7</a></td>
                                <td>파랑 0.7mm</td>
                                <td>금속/Silver</td>
                                <td>O</td>
                                <td>2023-07-01</td>
                            </tr>
                            <tr hidden="hidden">
                                <th scope="row">6</th>
                                <td>제품</td>
                                <td><a href="제품상세보기.html">볼펜MS 1.0</a></td>
                                <td>빨강 1.0mm</td>
                                <td>금속/Silver</td>
                                <td>O</td>
                                <td>2023-07-01</td>
                            </tr>
                            <tr hidden="hidden">
                                <th scope="row">7</th>
                                <td>제품</td>
                                <td><a href="제품상세보기.html">볼펜PG 0.5</a></td>
                                <td>검정 0.5mm</td>
                                <td>플라스틱/Gold</td>
                                <td>O</td>
                                <td>2023-09-03</td>
                            </tr>
                            <tr hidden="hidden">
                                <th scope="row">8</th>
                                <td>제품</td>
                                <td><a href="제품상세보기.html">볼펜PG 0.7</a></td>
                                <td>파랑 0.7mm</td>
                                <td>플라스틱/Gold</td>
                                <td>O</td>
                                <td>2023-09-03</td>
                            </tr>
                            <tr hidden="hidden">
                                <th scope="row">9</th>
                                <td>제품</td>
                                <td><a href="제품상세보기.html">볼펜PS 0.5</a></td>
                                <td>검정 0.5mm</td>
                                <td>플라스틱/Silver</td>
                                <td>O</td>
                                <td>2023-09-03</td>
                            </tr>
                            <tr hidden="hidden">
                                <th scope="row">10</th>
                                <td>제품</td>
                                <td><a href="제품상세보기.html">볼펜PS 0.7</a></td>
                                <td>파랑 0.7mm</td>
                                <td>플라스틱/Silver</td>
                                <td>O</td>
                                <td>2023-09-03</td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Table with hoverable rows -->

                        <!--(페이지 내용 시작..)-->
                        <style>
                            .page-link:hover {
                              background-color: dodgerblue;
                              border-color: dodgerblue;
                              color: #fff
                            }
                        </style>
                        <!-- Disabled and active states -->
                        <div hidden style="text-align: center;"><!--/페이징 처리는 스크롤방식으로 구현할 예정이라서, 페이지 탭방식 내용은 출력안함./-->
                            <nav aria-label="..." style="display: inline-block; margin-top: 10px;">
                                <ul class="pagination" style="text-align: center;">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Prev</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item" aria-current="page">
                                        <a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                                    <li class="page-item"><a class="page-link" href="#">7</a></li>
                                    <li class="page-item"><a class="page-link" href="#">9</a></li>
                                    <li class="page-item"><a class="page-link" href="#">10</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav><!-- End Disabled and active states -->
                        </div>
                        <!--(페이지 내용 끝.)-->

                    </div>
                </div>

            </div>

        </div> <!--End row-->
    </section>

</main>
<!-- End #main -->

<th:block th:replace="~{/fragments/bodyFragment::footer}"></th:block>
<th:block th:replace="~{/fragments/bodyFragment::js}"></th:block>

</body>
</html>
