<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>공지사항</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <th:block th:replace="~{/fragments/headFragment}"></th:block>
</head>
<body>
<th:block th:replace="~{/fragments/bodyFragment::header}"></th:block>
<th:block th:replace="~{/fragments/bodyFragment::sidebar}"></th:block>
<!-- ======= main ======= -->
<main id="main" class="main">
    <div class="pagetitle">
        <h1>공지사항</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">메인</a></li>
                <li class="breadcrumb-item">공지사항</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <!--★★★★★★★★★★카드내용★★★★★★★★★★★★-->
            <!--여기에 카드랑 내용 넣어주시면 됩니다-->
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <b><h5 class="card-title"><strong>전체 공지사항</strong> </h5></b>



                        <h7 class="text" 제목검색</h7>


                        <input title="검색" type="text">
                        &nbsp
                        <button type="button" class="btn btn-primary btn-sm">검색</button>
                        &nbsp
                        <button type="button" class="btn btn-primary btn-sm">글쓰기</button>
                        &nbsp

                        <!-- Table with hoverable rows -->
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">번호</th>
                                <th scope="col">작성자</th>
                                <th scope="col">제목</th>
                                <th scope="col">작성일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="notice : ${notices}">
                                <td th:text="${notice.noticeNumber}"><a href="noticeread"></a></td>
                                <td th:text="${notice.noticeWriter}"></td>
                                <td th:text="${notice.noticeTitle}"></td>
                                <td th:text="${notice.noticeRegDate}"></td>
                            </tr>
<!--                            <tr>-->
<!--                                <th scope="row">1</th>-->
<!--                                <td>관리자</td>-->
<!--                                <td><a href="noticeread">※ 여름휴가공지 ※</a></td>-->
<!--                                <td>2024-07-22</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <th scope="row">2</th>-->
<!--                                <td>관리자</td>-->
<!--                                <td><a href="noticeread">2024 상반기 승진 안내</a><br></td>-->
<!--                                <td>2024-07-20</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <th scope="row">3</th>-->
<!--                                <td>관리자</td>-->
<!--                                <td><a href="noticeread">시스템 업데이트 완료 안내</a><br></td>-->
<!--                                <td>2024-07-17</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <th scope="row">4</th>-->
<!--                                <td>관리자</td>-->
<!--                                <td><a href="noticeread">시스템 업데이트 일정 안내</a><br></td>-->
<!--                                <td>2024-07-10</td>-->
<!--                            </tr>-->

                            </tbody>
                        </table>
                        <!-- End Table with hoverable rows -->

                    </div>
                </div>

            </div>


            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <b><h5 class="card-title"><strong>부서 알림 게시판</strong> </h5></b>

                        <h7 class="text"> 제목검색 </h7>


                        <input title="검색" type="text">
                        &nbsp
                        <button type="button" class="btn btn-primary btn-sm">검색</button>
                        &nbsp

                        <button type="button" class="btn btn-primary btn-sm">글쓰기</button>
                        &nbsp

                        <!-- Table with hoverable rows -->
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">번호</th>
                                <th scope="col">작성자</th>
                                <th scope="col">제목</th>
                                <th scope="col">작성일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>생산부서 김길동</td>
                                <td><a href="/deptnotice/deptnoticeread">생산부서 생산 요청 완료<br></td>
                                <td>2024-07-20</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>구매부서 최길동</td>
                                <td>PSKD-45o0 구매 발주 시작<br></td>
                                <td>2024-07-15</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>자재부서 박길동</td>
                                <td>개발자들은 intp래요<br></td>
                                <td>2024-07-13</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>자재부서 최길동</td>
                                <td>int p;... ...<br></td>
                                <td>2024-07-10</td>
                            </tr>

                            </tbody>
                        </table>
                        <!-- End Table with hoverable rows -->

                    </div>
                </div>
            </div>
    </section>
</main>
        </div> <!--End row-->
    </section>
</main>
<!-- End #main -->
<th:block th:replace="~{/fragments/bodyFragment::footer}"></th:block>
<th:block th:replace="~{/fragments/bodyFragment::js}"></th:block>
</body>
</html>