<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>전제공지상세보기</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <th:block th:replace="~{/fragments/headFragment}"></th:block>
</head>
<body>
<th:block th:replace="~{/fragments/bodyFragment::header}"></th:block>
<th:block th:replace="~{/fragments/bodyFragment::sidebar}"></th:block>
<!-- ======= main ======= -->
<main id="main" class="main">
    <div class="pagetitle">
        <h1>전체 공지사항</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">메인</a></li>
                <li class="breadcrumb-item">공지사항</li>
                <li class="breadcrumb-item" th:text="${notice.noticeTitle}"></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <!--★★★★★★★★★★카드내용★★★★★★★★★★★★-->
            <!--여기에 카드랑 내용 넣어주시면 됩니다-->
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">상세보기</h5>

                        <!-- General Form Elements -->
<!--                        <form>-->
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">번호</label>
                                <div class="col-sm-10">
                                    <label class="col-sm-2 col-form-label" th:text="${notice.noticeNumber}"></label>
                                </div>
                            </div>
<!--                            <form>-->
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">작성자</label>
                                    <div class="col-sm-10">
                                        <label class="col-sm-2 col-form-label" th:text="${notice.noticeWriter}"></label>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">제목</label>
                                    <div class="col-sm-10">
                                        <label class="col-sm-2 col-form-label" th:text="${notice.noticeTitle}"></label>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">작성일</label>
                                    <div class="col-sm-10">
                                        <label class="col-sm-2 col-form-label" th:text="${notice.noticeRegDate}"></label>
                                    </div>
                                </div>



                                <!-- End Quill Editor Full -->

                    </div>
                </div>

            </div>

            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">본문내용</h5>


                        <p th:text="${notice.noticeContent}"></p>

                    </div>
                </div>

            </div>

            <div class="row mb-12">
                <div class="col-sm-10">
                    <a href="noticemodify"><button type="button" class="btn btn-primary">수정</button></a>
                    <a href="">  <button type="button" class="btn btn-danger">삭제</button></a>
                    <a href="공지사항.html"><button type="button" class="btn btn-primary">목록</button></a>
                </div>
            </div>
            </form><!-- End General Form Elements -->

        </div>
        </div>

        </div>


        </div> <!--End row-->
    </section>
</main>
<!-- End #main -->
<th:block th:replace="~{/fragments/bodyFragment::footer}"></th:block>
<th:block th:replace="~{/fragments/bodyFragment::js}"></th:block>
</body>
</html>