<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>부서알림 상세보기</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <th:block th:replace="~{/fragments/headFragment}"></th:block>
</head>
<body>
<th:block th:replace="~{/fragments/bodyFragment::header}"></th:block>
<th:block th:replace="~{/fragments/bodyFragment::sidebar}"></th:block>
<!-- ======= main ======= -->
<main id="main" class="main">
    <div class="pagetitle">
        <h1>부서알림 공지사항</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">메인</li>
                <li class="breadcrumb-item">공지사항</li>
                <li class="breadcrumb-item active" th:text="${deptnotice.deptNoticeTitle}"></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <!--★★★★★★★★★★카드내용★★★★★★★★★★★★-->
            <!--여기에 카드랑 내용 넣어주시면 됩니다-->
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">부서 알림 상세보기</h5>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">번호</label>
                                <div class="col-sm-10">
                                    <label class="col-sm-2 col-form-label">
                                        <div th:text="${deptnotice.deptNoticeNumber}"></div></label>
                                </div>
                            </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">작성자</label>
                                    <div class="col-sm-10">
                                        <label class="col-sm-2 col-form-label">
                                            <div th:text="${deptnotice.deptNoticeWriter}"></div></label>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">제목</label>
                                    <div class="col-sm-10">
                                        <label class="col-sm-2 col-form-label">
                                            <div th:text="${deptnotice.deptNoticeTitle}"></div></label>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">작성일</label>
                                    <div class="col-sm-10">
                                        <label class="col-sm-2 col-form-label">
                                            <div th:text="${deptnotice.deptNoticeRegDate}"></div></label>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label">수정일</label>
                                    <div class="col-sm-10">
                                        <label class="col-sm-2 col-form-label">
                                            <div th:text="${deptnotice.deptNoticeUpdateDate}"></div></label>
                                    </div>
                                </div>

                                <!-- End Quill Editor Full -->

                    </div>
                </div>

            </div>

            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${deptnotice.deptNoticeTitle}"></h5>

                        <pre th:text="${deptnotice.deptNoticeContent}"></pre>
                    </div>
                </div>

            </div>

            <div class="row mb-12">
                <div class="col-sm-10">
                    <a th:href="@{/deptnotice/deptnoticemodify(deptNoticeNumber=${deptnotice.deptNoticeNumber})}" class="deptmodify">
                        <button type="button" class="btn btn-primary">수정</button></a>
                    <a th:href="@{/deptnotice/deptnoticedelete(deptNoticeNumber=${deptnotice.deptNoticeNumber})}" class="list">
                        <button type="button" class="btn btn-danger">삭제</button></a>
                    <a href="/notice/noticelist" class="list"><button type="button" class="btn btn-primary">목록</button></a>
                </div>
            </div>
            <!-- End General Form Elements -->

        </div>
        </div>

        </div>
        </div> <!--End row-->
    </section>
</main>
<!-- End #main -->
<th:block th:replace="~{/fragments/bodyFragment::footer}"></th:block>
<th:block th:replace="~{/fragments/bodyFragment::js}"></th:block>
</body>
</html>