
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Components / Accordion - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../assets/img/favicon.png" rel="icon">
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Updated: Apr 20 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="메인대쉬보드.html" class="logo d-flex align-items-center">
            <img src="../assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">팀 정감</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge bg-primary badge-number">2</span>
                </a><!-- End Notification Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        안 본 공지가 2개 있습니다
                        <a href="공지사항.html"><span class="badge rounded-pill bg-primary p-2 ms-2">공지사항가기</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>여름휴가공지</h4>
                            <p>7월 8월 여름휴가 관해 공지드립니다...</p>
                            <p>7월 22일</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>2024 상반기 승진 안내</h4>
                            <p>2024 상반기 승진자 명단 알려드립니다...</p>
                            <p>7월 20일</p>
                        </div>
                    </li>



                </ul><!-- End Notification Dropdown Items -->

            </li><!-- End Notification Nav -->


            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="../assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">황희정 사원</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>황희정 사원</h6>
                        <span>구매조달부 구매팀</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="내프로필.html">
                            <i class="bi bi-person"></i>
                            <span>내 프로필 확인</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="로그아웃페이지.html">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>로그아웃</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" href="메인대쉬보드.html">
                <i class="bi bi-grid-fill"></i>
                <span>메인</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide-fill"></i><span>발주계획</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="조달계획리스트.html">
                        <i class="bi bi-circle"></i><span>조달계획</span>
                    </a>
                </li>
                <li>
                    <a href="제품리스트.html">
                        <i class="bi bi-circle"></i><span>제품</span>
                    </a>
                </li>
                <li>
                    <a href="거래처목록리스트.html">
                        <i class="bi bi-circle"></i><span>거래처</span>
                    </a>
                </li>
                <li>
                    <a href="발주계획현황.html">
                        <i class="bi bi-circle"></i><span>발주계획현황</span>
                    </a>
                </li>

            </ul>
        </li><!-- End Components Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-basket3-fill"></i><span>구매발주</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="발주서리스트.html">
                        <i class="bi bi-circle"></i><span>발주서</span>
                    </a>
                </li>
                <li>
                    <a href="검수리스트.html">
                        <i class="bi bi-circle"></i><span>검수관리</span>
                    </a>
                </li>
                <li>
                    <a href="검수일정.html">
                        <i class="bi bi-circle"></i><span>검수일정</span>
                    </a>
                </li>


            </ul>
        </li><!-- End Forms Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-inboxes-fill"></i><span>재고관리</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="창고재고리스트.html">
                        <i class="bi bi-circle"></i><span>창고재고</span>
                    </a>
                </li>
                <li>
                    <a href="입고대기리스트.html">
                        <i class="bi bi-circle"></i><span>입고대기</span>
                    </a>
                </li>
                <li>
                    <a href="출고요청리스트.html">
                        <i class="bi bi-circle"></i><span>출고요청</span>
                    </a>
                </li>
                <li>
                    <a href="입출고내역.html">
                        <i class="bi bi-circle"></i><span>입출고내역</span>
                    </a>
                </li>


                <li>
                    <a href="발주진행현황.html">
                        <i class="bi bi-circle"></i><span>발주진행현황</span>
                    </a>
                </li>
                <li>
                    <a href="재고금액현황.html">
                        <i class="bi bi-circle"></i><span>재고금액현황</span>
                    </a>
                </li>

            </ul>
        </li><!-- End Tables Nav -->



        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-info-circle-fill"></i><span>자사정보</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="회원목록.html">
                        <i class="bi bi-circle"></i><span>회원</span>
                    </a>
                </li>
                <li>
                    <a href="부서목록.html">
                        <i class="bi bi-circle"></i><span>부서</span>
                    </a>
                </li>
                <li>
                    <a href=자사정보.html">
                        <i class="bi bi-circle"></i><span>회사</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Icons Nav -->

        <hr>
        <li class="nav-item">
            <a class="nav-link collapsed" href="내프로필.html">
                <i class="bi bi-person-fill"></i>
                <span>내 프로필</span>
            </a>
        </li><!-- End Profile Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="공지사항.html">
                <i class="bi bi-bell-fill"></i>
                <span>공지사항</span>
            </a>
        </li><!-- End Profile Page Nav -->


    </ul>

</aside><!-- End Sidebar-->

<!--메인시작-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>출고내역상세보기</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="메인대쉬보드.html">메인</a></li>
                <li class="breadcrumb-item">재고관리</li>
                <li class="breadcrumb-item">입출고내역</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">출고요청내용</h5>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">품목명</label>
                            <div class="col-sm-10">
                                <input type="type" class="form-control" value="펜촉" disabled>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">공급처</label>
                            <div class="col-sm-10">
                                <input type="type" class="form-control" value="A상사" disabled>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">요청처</label>
                            <div class="col-sm-10">
                                <input type="type" class="form-control" value="생산1팀" disabled>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">게획수립일</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" value="2024-05-30" disabled>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">계획수량</label>
                            <div class="col-sm-10">
                                <input type="type" class="form-control" value="100" disabled>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">불출희망일</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" value="2024-06-20" disabled>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">출고내역</h5>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">불출일</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" value="2024-06-10" disabled>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">출고수량</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" value="100" disabled>
                            </div>
                        </div>


                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">비고</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="모두출고" disabled>
                            </div>
                        </div>
                        <a href="#" ><button type="button" class="btn btn-primary">수정</button></a>
                        <a href="출고요청리스트.html" ><button type="button" class="btn btn-primary">리스트</button></a>
                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->

<!--메인끝-->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/vendor/chart.js/chart.umd.js"></script>
<script src="../assets/vendor/echarts/echarts.min.js"></script>
<script src="../assets/vendor/quill/quill.js"></script>
<script src="../assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="../assets/vendor/tinymce/tinymce.min.js"></script>
<script src="../assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="../assets/js/main.js"></script>

</body>

</html>